@use '../../styles/shared.scss';

.about-us {
    min-height: 100vh;
    width: 100%;
    background-color: shared.$background-purple;
    padding-top: 4rem;
    padding-bottom: 4rem;
    color: white;
    overflow: hidden;
    
    h1 {
        text-align: center;
    }

    .PandB {
        overflow: hidden;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        margin-top: 4rem;

        .Parker, .Brendon {
            padding: 3rem;
            max-width: 30%;
            border-radius: 1rem;
            background-color: shared.$background-white;
            h2 {
                font-size: 2rem;
            }
            p {
                font-size: 1.5rem;
            }
        }
    }

    .jj {
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        max-width: 60%;
        margin-right: auto;
        margin-left: auto;
        overflow: hidden;
        p {
            font-size: 2rem;
        }
    }
}

@media only screen and (max-width: 650px) {
    .about-us {
        .PandB {
            flex-direction: column;
            align-items: center;
            .Parker, .Brendon {
                padding: 1rem;
                max-width: 80%;
            }

            .Parker {
                margin-bottom: 2rem;
            }
        }
        .jj {
            max-width: 90%;
        }
    }
}