@use "../../styles/shared.scss";

.socialLink {
    border-radius: 0.5rem;
    background-color: shared.$nav-black;
    color: white;
    display: block;
    padding: 1rem;
    width: 2rem;
    overflow: hidden;
    cursor: pointer;

    transition: width 500ms ease;

    .data {
        display: flex;
        align-items: center;
        position: relative;
        img {
            height: 2rem;
            width: 2rem;
        }

        p {
            flex-grow: 1;
            margin: 0;
            font-size: 2rem;
            line-height: 2rem;
            opacity: 0;
            transition: all 500ms ease-out;
            white-space: nowrap;
            position: absolute;
            right: 0;
        }
    }

    &.open {
        width: 100%;
        p {
            opacity: 1;
        }
    }
}
