@use "../../styles/shared.scss";

.ranked-list {
    border-radius: 1rem;
    text-align: center;
    width: 60vw;
    background-color: rgba(255, 255, 255, 0.055);
    margin-bottom: 2rem;
    cursor: pointer;

    .list {
        font-size: 0;
        opacity: 0;
        transition: all 500ms ease;
        .item {
            width: 100%;
            display: flex;
            align-items: center;
            &:not(:last-of-type) {
                p {
                    margin-bottom: 0;
                }
            }

            .rank-num {
                margin-left: 2rem;
            }

            .episode-info {
                flex-grow: 1;
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                    &:nth-child(2) {
                        margin-left: 0.5rem;
                        margin-right: 0.5rem;
                    }
                }
            }
        }
    }

    &.open {
        .list {
            font-size: 2rem;
            opacity: 1;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .ranked-list {
        width: 90vw;
    }
}
