@use "../../styles/shared.scss";

.landing-page {
    width: 100%;

    .pane1, .pane3 {
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.562), 0 -8px 8px rgba(0, 0, 0, 0.562);
    }

    .pane1 {
        min-height: 100vh;
        background-color: shared.$background-purple;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        position: relative;
        overflow-y: hidden;
        overflow-x: hidden;

        .text {
            max-width: 40%;
            width: fit-content;
            h1 {
                font-size: 5rem;
                font-weight: 500;
                margin-bottom: 2rem;
                @include shared.jojo-text();
            }

            h2 {
                font-size: 2.5rem;
                font-weight: 300;
                margin-bottom: 2rem;
                @include shared.jojo-text();
            }
            a {
                text-decoration: none;
            }
            z-index: 1;
        }

        .human1 {
            position: absolute;
            right: -15rem;
            bottom: -12rem;
            filter: grayscale(1) opacity(0.5);
            z-index: 0;
        }

        .menacing1 {
            position: absolute;
            bottom: 30rem;
            right: 5rem;
            height: 64px;
            width: 64px;
            animation: 500ms linear 1s infinite reverse both running menacing;
            z-index: 0;

            @include shared.menacing-anim();
        }

        .menacing2 {
            position: absolute;
            bottom: 25rem;
            right: 17rem;
            height: 64px;
            width: 64px;
            animation: 500ms linear 1s infinite reverse both running menacing;
            z-index: 0;

            @include shared.menacing-anim();
        }

        .menacing3 {
            position: absolute;
            bottom: 15rem;
            right: 1rem;
            height: 64px;
            width: 64px;
            z-index: 0;

            @include shared.menacing-anim();
        }
    }

    .pane2 {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        flex-direction: column;
        position: relative;
        z-index: -1;
        background: linear-gradient(90deg, shared.$jojo-pink, shared.$wisteria);
        isolation: isolate;
        overflow: hidden;

        &:before {
            content: "";
            position: absolute;
            z-index: -2;
            inset: 0;
            background: linear-gradient(0deg, rgb(0 0 0 / 0.6), rgb(0 0 0 / 0.2));
        }

        .rift {
            position: absolute;
            transform-origin: center;
            inset: 50%;
            height: fit-content;
            width: fit-content;
            z-index: -2;
            display: grid;
            place-items: center;
            opacity: 0.3;

            .vortex-circle,
            .vortex-star,
            .spiral-fire {
                position: absolute;
                opacity: 0.5;
            }

            .crow,
            .microphone {
                position: absolute;
                opacity: 1;
            }

            .vortex-circle {
                animation: spin-clockwise 25s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                animation-play-state: running;
                height: 50vh;
                width: 50vh;
            }

            .vortex-star {
                animation: vortex-star 15s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                animation-play-state: running;
                height: 45vh;
                width: 45vh;
            }

            .spiral-fire {
                animation: spin-clockwise 15s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                animation-play-state: running;
                height: 45vh;
                width: 45vh;
            }

            .crow {
                height: 15vh;
                width: 15vh;
                transform-origin: 50% 60vh;
                bottom: 30vh;

                animation: spin-clockwise 30s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                animation-play-state: running;
            }

            .microphone {
                transform: translateY(100%);
                height: 15vh;
                width: 15vh;
                transform-origin: 50% -60vh;
                top: 30vh;

                animation: spin-clockwise 15s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                animation-play-state: running;
            }
        }
        .text {
            margin-top: 4rem;
            margin-bottom: 4rem;
            max-width: 90%;
            text-align: center;
            color: white;

            h2 {
                font-size: 2.5rem;
                font-weight: 500;
            }
            p {
                text-align: center;
                font-size: 1.5rem;
            }
            .people {
                display: flex;
                flex-wrap: wrap;
                margin-top: 5rem;
                margin-bottom: 5rem;
                justify-content: space-around;
                p {
                    background: rgb(0 0 0 / 0.4);
                    width: 20rem;
                    padding: 3rem;
                    margin-left: 1rem;
                    margin-right: 1rem;
                    border-radius: 1rem;
                }
            }
        }
    }

    .pane3 {
        display: flex;
        justify-content: space-around;
        flex-grow: 1;
        padding-top: 3rem;
        color: white;
        min-height: 50vh;
        width: 100%;
        background-color: shared.$background-purple;

        .episode {
            display: flex;
            flex-direction: column;
            align-items: center;
            h2 {
                text-align: center;
            }

            .latest-episode {
                display: grid;
                place-items: top;
                flex-grow: 1;
            }
        }

        .social {
            width: 40vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            h2 {
                text-align: center;
            }
            .social-links {
                display: flex;
                flex-direction: row;
                width: 100%;
                .col1,
                .col2 {
                    flex-grow: 1;
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    .socialLink {
                        &:not(:last-child) {
                            margin-bottom: 1rem;
                        }
                    }
                }

                .col1 {
                    align-items: flex-end;
                    margin-right: 0.5rem;
                }

                .col2 {
                    margin-left: 0.5rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .landing-page {
        .pane1 {
            .text {
                max-width: 80%;
            }
        }
    }
}

@media only screen and (max-width: 1120px) {
    .landing-page {
        .pane3 {
            min-height: 70vh;
            flex-direction: column;
            align-items: center;
            .social {
                width: 70%;
            }
        }
    }
}

@media only screen and (max-width: 650px) {
    .landing-page {
        .pane3 {
            .episode {
                .latest-episode {
                    iframe {
                        width: 300px;
                    }
                }
            }
            .social {
                .social-links {
                    flex-direction: column;
                    .col1, .col2 {
                        align-items: center;
                        margin: 0;
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
}

// Landing Animations
@keyframes spin-clockwise {
    0% {
        transform: rotateZ(0);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes vortex-star {
    0% {
        transform: rotateZ(0) scale(100%);
    }

    50% {
        transform: rotateZ(180deg) scale(150%);
    }

    0% {
        transform: rotateZ(360deg) scale(100%);
    }
}
