@use "../../styles/shared.scss";

.landing-page {
    width: 100%;

    .pane1 {
        min-height: 100vh;
        background-color: shared.$background-purple;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        position: relative;
        overflow-y: hidden;
        overflow-x: hidden;

        .text {
            max-width: 40%;
            width: fit-content;
            h1 {
                font-size: 5rem;
                font-weight: 500;
                margin-bottom: 2rem;
                @include shared.jojo-text();
            }

            h2 {
                font-size: 2.5rem;
                font-weight: 300;
                margin-bottom: 2rem;
                @include shared.jojo-text();
            }
            z-index: 1;
        }

        .human1 {
            position: absolute;
            right: -15rem;
            bottom: -12rem;
            filter: grayscale(1) opacity(0.5);
            z-index: 0;
        }

        .menacing1 {
            position: absolute;
            bottom: 30rem;
            right: 5rem;
            height: 64px;
            width: 64px;
            animation: 500ms linear 1s infinite reverse both running menacing;
            z-index: 0;

            @include shared.menacing-anim();
        }

        .menacing2 {
            position: absolute;
            bottom: 25rem;
            right: 17rem;
            height: 64px;
            width: 64px;
            animation: 500ms linear 1s infinite reverse both running menacing;
            z-index: 0;

            @include shared.menacing-anim();
        }

        .menacing3 {
            position: absolute;
            bottom: 15rem;
            right: 1rem;
            height: 64px;
            width: 64px;
            z-index: 0;

            @include shared.menacing-anim();
        }
    }

    .pane2 {
        min-height: 100vh;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        .text {
            flex-grow: 1;
            max-width: 90%;
            margin-left: 3rem;

            h2 {
                font-size: 2.5rem;
                font-weight: 500;
            }
            p {
                font-size: 1.5rem;
            }
        }

        .ep-and-social {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            flex-grow: 1;
            margin-top: 3rem;

            .episode {
                display: flex;
                flex-direction: column;
                align-items: center;

                h2 {
                    text-align: center;
                }
            }
            .social {
                display: flex;
                flex-direction: column;
                align-items: center;
                h2 {
                    text-align: center;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .landing-page {
        .pane1 {
            .text {
                max-width: 80%;
            }
        }
    }
}
