@use "../../styles/shared.scss";

.contact-us {
    min-height: 100vh;
    width: 100%;
    padding-top: 4rem;
    background-color: shared.$background-purple;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    .text {
        max-width: 40%;
        a {
            width: fit-content;
            display: flex;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            color: white;
            text-decoration: none;
            font-size: 1.5rem;
        }
        .twitter-info {
            img {
                height: 2rem;
                width: 2rem;
                margin-right: 0.5rem;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .contact-us {
        align-items: unset;
        .text {
            max-width: 90%;
        }
    }
}
