@import './styles/fonts.scss';

:root {
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;
}

.content {
    width: 100%;
    min-height: 100vh;
    margin-left: 17rem;
}

@media only screen and (max-width: 1024px) {
    .content {
        margin-left: 0;
        margin-top: 4rem;
    }
}