@import './styles/fonts.scss';

:root {
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Barlow Condensed', sans-serif;
    
    overflow-x: hidden;
}

.content {
    width: 100vw;
    min-height: 100vh;
}